* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 80px;
}


header .logo {
    position: relative;
    max-width: 250px;
}

header .content li {
    display: inline-block;
    margin-left: 40px;

}

header .navigation {
    position: relative;
    display: flex;
}


.navigation li a {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;

}

li a {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000C2D;
    left: 125px;
    transition: all 1.6s;

}

li a:hover {
    text-underline-offset: 10px;
    text-decoration: underline #2F70FE 2.5px;
    transition: all 1.6s;
}

.btn-navbar {
    position: relative;
    width: 100px;
    height: 40px;
    background: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #2F70FE;
    left: 40px;
}

.btn-navbar a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #2F70FE;
}

.navbar i {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000C2D;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.fa-user {
    position: relative;
    cursor: pointer;
    right: 60px;
    transition: all 1.6s;
}

.fa-user:hover {
    text-underline-offset: 10px;
    text-decoration: underline #2F70FE 2.5px;
    transition: all 1.6s;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: url(../imgs/background.png)no-repeat;
    background-size: cover;
    background-position: center;
    width: 1536px;
    height: 561px;
    min-height: 65vh;
    margin-top: 80px;
}

section .container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 789px;
    height: 282px;
    left: 400px;
    top: 114px;
    padding: 0px;
    gap: 33px;

}

section .container h1 {
    width: 620px;
    height: 130px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

section .container p {
    position: absolute;
    width: 605px;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 125px;
}

section .container .register {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    gap: 10px;
    color: #fff;
    width: 162px;
    height: 52px;
    background: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    top: 200px;
    cursor: pointer;
}

section .register {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    transition: all 0.8s;
}

section img .templates {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background: #2F70FE;
}

.templates .left {
    position: absolute;
    width: 389.74px;
    height: 254.87px;
    left: 98px;
    top: 400px;
    mix-blend-mode: luminosity;
}

.templates .right {
    position: absolute;
    display: flex;
    height: 261px;
    width: 340px;
    left: 972px;
    top: 250px;
    mix-blend-mode: luminosity;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: red;
    width: 1540px;
    height: 561px;
    padding: 0px;
    gap: 56px;
    top: 495px;
    background: rgba(0, 255, 133, 0.09);
}

.textBox {
    position: absolute;
    text-align: center;
    width: 290px;
    height: 51px;
    left: 600px;
    margin-bottom: 144px;

}

.textBox h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.02em;
    color: #000000;
}

.icons-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 160px;
}

.icons-img .icones {
    position: absolute;
    max-width: 900px;
}


.second .paragrafh {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 56px;
    position: absolute;
    width: 865px;
    height: 90px;
    top: 100px;

}

.second .paragrafh p {
    width: 253px;
    height: 54px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000C2D;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.second img .details {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.second .details-Left {
    position: absolute;
    max-width: 140px;
    right: 700px;
    top: 250px;
}

.second .details-right {
    position: absolute;
    max-width: 140px;
    left: 700px;
    top: 10px;
}


.central {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 340vh;
    position: absolute;
    top: 1060px;
    background-image: none;
    /*background-color: green;*/
}


.containerBx {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 255px;
    top: 80px;
    /*background-color: red;*/
}

.box-container h3 {
    position: relative;
    width: 300px;
    height: 74px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    color: #181818;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.box-container p {
    position: relative;
    width: 410px;
    height: 54px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000C2D;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 34px;

}

.central .imgBox {
    position: relative;
    height: 310px;
    /*max-width: 421px;*/
}

.imgBox .template-three {
    position: relative;
    left: 570px;
    bottom: 190px;
}

.box-container .reverse {
    position: relative;
    left: 580px;
    margin-top: 20px;
    cursor: pointer;
}

.imgBox .template-four {
    position: relative;
    bottom: 190px;
}

.box-container .btn-container {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2F70FE;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.box-container i {
    margin-left: 10px;
    color: #2F70FE;
    cursor: pointer;
}

.imgBox .template-five {
    position: relative;
    left: 595px;
    bottom: 170px;
}

.imgBox .template-six {
    position: relative;
    bottom: 180px;
    left: 40px;
}

.imgBox .template-seven {
    position: relative;
    left: 595px;
    bottom: 170px;
}

.footer {
    display: flex;
    position: absolute;
    width: 1520px;
    height: 397px;
    left: 0px;
    top: 3605px;
    background-image: none;
    background-color: #000;
}

.footer .product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    height: 144px;
    left: 224px;
    right: 1137px;
    bottom: 290px;
}

.footer .company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    height: 172px;
    left: 431px;
    right: 884px;
    bottom: 265px;
}

.footer .users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    height: 172px;
    left: 684px;
    right: 631px;
    bottom: 265px;

}

.footer .guides {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    height: 88px;
    left: 937px;
    right: 434px;
    bottom: 346px;
}


.footer .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    height: 60px;
    left: 1134px;
    right: 220px;
    bottom: 375px;
}


.footer h2 {
    width: 61px;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.footer a {
    width: 100px;
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    flex: none;
    order: 3;
    flex-grow: 0;
    transition: all 1.6s;
}

.footer a:hover {
    text-underline-offset: 5px;
    text-decoration: underline #2F70FE 1.9px;
    transition: all 1.6s;
}


.footer p {
    position: absolute;
    height: 18px;
    left: 224px;
    right: 969px;
    bottom: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;

}

.footer .credit {
    position: absolute;
    height: 18px;
    left: 905px;
    right: 416px;
    bottom: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}