* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.875rem 5rem;
}

header .logo {
  position: relative;
  max-width: 15.625rem;
}

header .content li {
  display: inline-block;
  margin-left: 2.5px;
}

header .navigation {
  position: relative;
  display: flex;
}

.navigation li a {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.03em;
}

li a {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.03em;
  color: #000c2d;
  left: 125px;
  transition: all 1.6s;
}

li a:hover {
  text-underline-offset: 0.625rem;
  text-decoration: underline #2f70fe 0.156rem;
  transition: all 1.6s;
}

.btn-navbar {
  position: relative;
  width: 6.25rem;
  height: 2.5rem;
  background: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 0.063rem solid #2f70fe;
  left: 2.5rem;
}

.btn-navbar a {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.03em;
  color: #2f70fe;
}

.navbar i {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.03em;
  color: #000c2d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.fa-user {
  position: relative;
  cursor: pointer;
  right: 3.75rem;
  transition: all 1.6s;
}

.fa-user:hover {
  text-underline-offset: 0.625rem;
  text-decoration: underline #2f70fe 0.156rem;
  transition: all 1.6s;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: url(../imgs/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 96rem;
  height: 35.063rem;
  min-height: 65vh;
  margin-top: 5rem;
}

section .container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 49.313rem;
  height: 17.625rem;
  left: 25rem;
  top: 7.125rem;
  padding: 0rem;
  gap: 2.063rem;
}

section .container h1 {
  width: 40.625rem;
  height: 8.125rem;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.063rem;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

section .container p {
  position: absolute;
  width: 37.813rem;
  height: 3.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 7.813rem;
}

section .container .register {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  padding: 1.563rem;
  gap: 0.625rem;
  color: #fff;
  width: 10.125rem;
  height: 3.25rem;
  background: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  top: 12.5rem;
  cursor: pointer;
}

section .register {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.02em;
  transition: all 0.8s;
}

section img .templates {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  background: #2f70fe;
}

.templates .left {
  position: absolute;
  width: 24.359rem;
  height: 15.929rem;
  left: 6.125rem;
  top: 25rem;
  mix-blend-mode: luminosity;
}

.templates .right {
  position: absolute;
  display: flex;
  height: 16.313rem;
  width: 21.25rem;
  left: 60.75rem;
  top: 15.625rem;
  mix-blend-mode: luminosity;
}

.second {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  background-color: red;
  width: 96.25rem;
  height: 35.063rem;
  padding: 0rem;
  gap: 3.5rem;
  top: 30.938rem;
  background: rgba(0, 255, 133, 0.09);
}

.textBox {
  position: absolute;
  text-align: center;
  width: 18.125rem;
  height: 3.188rem;
  left: 37.5rem;
  margin-bottom: 9rem;
}

.textBox h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.188rem;
  letter-spacing: 0.02em;
  color: #000000;
}

.icons-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4.375rem;
  left: 10rem;
}

.icons-img .icones {
  position: absolute;
  max-width: 56.25rem;
}

.second .paragrafh {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  gap: 3.5rem;
  position: absolute;
  width: 54.063rem;
  height: 5.625rem;
  top: 6.25rem;
}

.second .paragrafh p {
  width: 15.813rem;
  height: 3.375rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #000c2d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.second img .details {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.second .details-Left {
  position: absolute;
  max-width: 8.75rem;
  right: 43.75rem;
  top: 15.625rem;
}

.second .details-right {
  position: absolute;
  max-width: 8.75rem;
  left: 43.75rem;
  top: 0.625rem;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 340vh;
  position: absolute;
  top: 66.25rem;
  background-image: none;
  /*background-color: green;*/
}

.containerBx {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: 15.938rem;
  top: 5rem;
  /*background-color: red;*/
}

.box-container h3 {
  position: relative;
  width: 18.75rem;
  height: 4.625rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.313rem;
  color: #181818;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.box-container p {
  position: relative;
  width: 25.625rem;
  height: 3.375rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.688rem;
  letter-spacing: 0.01em;
  color: #000c2d;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 2.125rem;
}

.central .imgBox {
  position: relative;
  height: 19.375rem;
  /*max-width: 421px;*/
}

.imgBox .template-three {
  position: relative;
  left: 35.625rem;
  bottom: 11.875rem;
}

.box-container .reverse {
  position: relative;
  left: 36.25rem;
  margin-top: 1.25rem;
  cursor: pointer;
}

.imgBox .template-four {
  position: relative;
  bottom: 11.875rem;
}

.box-container .btn-container {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75rem;
  color: #2f70fe;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.box-container i {
  margin-left: 0.625rem;
  color: #2f70fe;
  cursor: pointer;
}

.imgBox .template-five {
  position: relative;
  left: 37.188rem;
  bottom: 10.625rem;
}

.imgBox .template-six {
  position: relative;
  bottom: 11.25rem;
  left: 2.5rem;
}

.imgBox .template-seven {
  position: relative;
  left: 37.188rem;
  bottom: 10.625rem;
}

.footer {
  display: flex;
  position: absolute;
  width: 95rem;
  height: 24.813rem;
  left: 0rem;
  top: 225.313rem;
  background-image: none;
  background-color: #000;
}

.footer .product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.5rem;
  position: absolute;
  height: 9rem;
  left: 14rem;
  right: 71.063rem;
  bottom: 18.125rem;
}

.footer .company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.5rem;
  position: absolute;
  height: 10.75rem;
  left: 26.938rem;
  right: 55.25rem;
  bottom: 16.563rem;
}

.footer .users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.5rem;
  position: absolute;
  height: 10.75rem;
  left: 42.75rem;
  right: 39.438rem;
  bottom: 16.563rem;
}

.footer .guides {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.5rem;
  position: absolute;
  height: 5.5rem;
  left: 58.563rem;
  right: 27.125rem;
  bottom: 21.625rem;
}

.footer .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.5rem;
  position: absolute;
  height: 3.75rem;
  left: 70.875rem;
  right: 13.75rem;
  bottom: 23.438rem;
}

.footer h2 {
  width: 3.813rem;
  height: 1.125rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.125rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer a {
  width: 6.25rem;
  height: 1.125rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.02em;
  color: #ffffff;
  flex: none;
  order: 3;
  flex-grow: 0;
  transition: all 1.6s;
}

.footer a:hover {
  text-underline-offset: 0.313rem;
  text-decoration: underline #2f70fe 0.119rem;
  transition: all 1.6s;
}

.footer p {
  position: absolute;
  height: 1.125rem;
  left: 14rem;
  right: 60.563rem;
  bottom: 3.813rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #ffffff;
}

.footer .credit {
  position: absolute;
  height: 1.125rem;
  left: 56.563rem;
  right: 26rem;
  bottom: 3.813rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
  }

  section .container {
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 12px;
    left: 23px;
    padding: 0px 230px 230px 230px;
  }

  section .container h1 {
    font-size: xx-large;
  }
}
